<h2>Congratulations!</h2>
<h3>You are now signed up to sing. The DJ will let you know when it's time.</h3>
<p>We noticed that you're not currently signed in to an account. Would you like to create one now? (it takes two minutes)</p>
<p>With a free account you can:
<ul>
  <li>Keep track of your song requests</li>
  <li>Change your song requests</li>
  <li>Make a list of your favorite songs</li>
  <li>...And much more!</li> 
</ul>
</p>

<%= link_to "Sign up now!", new_user_registration_path, :class => "nice red radius button", 'data-role' => 'button' %>
