<%= jqm_header :theme => :b do %>
  <h1> </h1>
  <%= jqm_link_to 'LetMeSingNow, llc', root_url, :icon => :star, :theme => :e, :direction => :reverse %>
  <% if user_signed_in? %>
    <%= jqm_link_to(current_user.name, destroy_user_session_path, :icon => :delete, :iconpos => :right) %>
  <% else %> 
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
  <%#= link_to image_tag("LetMeSingNow_c.jpg"), root_url %>
<% end %>
